{% extends 'RabotaBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
        <form id="products">
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.getUserId }}</td>
                <td>
                    <a href="{{ path('order_show', { 'id': order.id }) }}" class="btn btn-success">Подробно</a>
                    <button type="button" class="btn btn-danger del" data-url="{{ path('order_del', { 'id': order.id }) }}">
                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                    </button>


                </td>
            </tr>
        {% endfor %}
        </form>
        </tbody>

    </table>

    {#<p><a href="{{ path('product_new') }}" class="btn btn-success new-order">Оформить заказ</a></p>#}

{% endblock %}


{% block javascripts %}
    <script>
        $(".del").click(function() {

            //var url = '/order/'+$(this).attr("data_id")+'/del';
            var url = $(this).attr("data-url");
            var tr = $(this);

            $.post(url, "del", function()
            {
                tr.closest("tr").hide('slow', function(){ tr.closest("tr").remove(); });

            });

            return false;
        });
    </script>
{% endblock %}